body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

button {
    background-color: #999;
}

.display {
    display: flex;
    width: 165px;
    padding: 5px;
    background-color: #ddd;
    margin-bottom: 20px;
    border: 1px dotted #444;
}

.display-container {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(225, 255, 246);
    border: 1px solid gray;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 5px 5px #ccc;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.number-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
}

.operator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


.btn-delete {
    background-color: rgb(255, 196, 196);
}

.btn-decimal,
.btn-clear, 
.btn-number {
    height: 40px;
    width: 40px;
    margin: 3px;
}



.btn-operator,
.btn-equals {
    height: 30px;
    width: 30px;
    background-color: #555;
}


.footer-container {
    display: flex;
    width: 300px;
    justify-content: right;
    padding: 5px;
    margin-top: 5px;
}

.footer {
    color: #eee;
}

