* {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

button {
    background-color: rgb(107, 158, 153);
    border: 1px solid white;
}

.display {
    display: flex;
    height: 40px;
    flex: 1 0 auto;
    background-color: #ddd;
    padding: 16px;
    padding-left: 14px;
    font-size: 2em;
    border: 1px solid white;
    color: gray
}

.display-container {
    width: 360px;

}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: rgb(225, 255, 246); */
    margin-top: 30px;
    /* padding: 20px; */
    border: 15px solid pink;
    box-shadow: 5px 5px skyblue, 10px 10px greenyellow, 15px 15px orangered;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.number-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}

.operator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.btn-delete {
    background-color: rgb(200, 150, 150);
    width: 60px;
    height: 35px;
}

.btn-decimal,
.btn-clear, 
.btn-number {
    height: 80px;
    width: 80px;
    flex: 1 0 auto;
}



.btn-operator,
.btn-equals {
    width: 60px;
    flex: 1 0 auto;
    background-color: rgb(52, 91, 117);
}


.footer-container {
    display: flex;
    width: 300px;
    justify-content: right;
    padding: 20px;
    margin-top: 5px;
}

.footer {
    color: #eee;
}

